.searchList {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.searchHero {
  background-color: brown;
  padding: 10px 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 350px;
}

.found {
  font-size: 30px;
  color: rgb(24, 21, 13);
  margin: 10px 0 10px 10px;
}
