* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 100px;
}

.logo {
  display: flex;
  align-items: center;
}

.hide {
  display: none;
}
