.myBtn {
  padding: 5px 75px;
  background-color: #fff;
  color: rgb(43, 137, 226);
  border: 1px solid rgb(43, 137, 226);
}

.myBtn:hover {
  background-color: rgb(43, 137, 226);
  color: #fff;
  cursor: pointer;
}
